name: scheduled-analysis

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"   # 每天執行一次

jobs:
  run-analysis:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install deps
        run: pip install -r requirements.txt

      - name: Run analysis
        run: python analysis.py

      - name: Rename file with date
        run: |
          DATE=$(date +'%Y-%m-%d')
          mv output/result.csv output/result_$DATE.csv

      - name: Commit and push CSV
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"

          git add output/
          git commit -m "Add result for $(date +'%Y-%m-%d')" || echo "No changes to commit"
          git push
